@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-family: 400;
    color: #fff;
    font-size: 16px;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
}

.wrapper {
background: linear-gradient(90deg,rgba(66, 66, 66, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
width: 100%;
}

.container {
width: 1400px;
margin: 0 auto;
}

header {
padding: 25px 0;
}

header .dodik {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
float:right;
width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: ;
    display: block;
    width: 40px;
    height: 5px;
    background: #0000FF;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
border-bottom: 5px solid #0000FF;
}

header nav ul li.btn a {
    background: #00D4FF;
    padding: 9px 17px;
    border-radius: 5px;
transition: all 500ms ease;
}

header nav ul li.btn a:hover {
background: #02027c;
}

.hero{
     padding-bottom: 100px;
     position: relative;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--in h2 {
    color: aqua;
    font-size: 20px;
    font-weight: 600;    
}

.hero--in h1 {
     font-size: 50px;
    font-weight: 600;
}

.hero--in p {
font-weight: 500;
line-height: 170%;
margin: 30px 0;
}

.hero--info .btn {
background: #0000FF;
color: #fff;
border-radius: 10px;
padding: 5px 7px;
border: 0;
transition: all 500ms ease;
}

.hero--info .btn:hover {
    cursor:pointer;
    transform: scale(1.1);
}


